/* Button Styles */
.btn-primary {
    background-color: #5783db; /* Primary button color */
    color: #0eb057; /* Text color for the primary button */
    border-radius: 5px;

  }
  
 
  
  /* Textarea Styles */
  .form-control {
  

  }
  
  /* Container Styles */
  .container {
   
    
  }
  
  /* Additional styles for the text summary section */
  .text-summary {


  }
  
  /* Preview Field Styles */
  .preview-field {
  

  }
  